<topic>
    <h2>The view of the world in 2100</h2>
    <img src="img/future.png">
    <p>1. Oceans will be extensively farmed and not just for fish.</p>
    <p>2. We will have the ability to communicate through thought transmission. </p>
    <p>3. Thanks to DNA and robotic engineering, we will have created incredibly intelligent humans who are immortal.</p>
    <p>4. We will be able to control the weather.</p>
    <p>5. Antarctica will be "open for business".</p>
    <p><strong>Source:</strong> <a href="http://www.bbc.com/news/magazine-16536598">http://www.bbc.com/news/magazine-16536598</a></p>
</topic>


<topic>
    <h2>Money: What is it really worth?</h2>
    <img src="img/money.png">
    <p>Benjamin Anderson, American Austrian, was among a handful of economists, led by Ludwig von Mises in his pioneering work The Theory of Money and Credit in 1912, who set out to integrate monetary theory into a general theory of value.</p>
    <p>Anderson devoted a major portion of his great book The Value of Money, published in 1917, to a refutation of the "mechanical" quantity theory of money.</p>
    <p>He argued that the causes and effects from which the data of the quantity equation are constructed are disaggregated and complex; whatever the correlation between the aggregate variables of the quantity equation, correlation is not causation; causation cannot be established in the equation because there are no quantitative constants in human action (in particular, velocity is not constant); the quantity theory ignores time; there is no unambiguous way to define the variables in the theory: the money stock, velocity, the quantity of goods, and the price level.</p>
    <p><strong>Source:</strong> 
    <a href="https://mises.org/library/value-money-1">https://mises.org/library/value-money-1</a>
    </p>
</topic>

<topic>
    <h2>GMO Food</h2>
    <img src="img/gmo.png">
    <p>A genetically modified organism, or GMO, is an organism that has had its DNA altered or modified in some way through genetic engineering.</p>
    <p>In most cases, GMOs have been altered with DNA from another organism, be it a bacterium, plant, virus or animal; these organisms are sometimes referred to as "transgenic" organisms. A genefrom a spider that helps the arachnid produce silk, for example, could be inserted into the DNA of an ordinary goat.</p>
    <p>That may sound far-fetched, but that exact process was used to breed goats that produce silk proteins in their goat milk. The milk is then harvested and the silk protein is isolated to make a lightweight, ultra-strong silk with a wide range of industrial and medical uses.</p>
    <p><strong>Source:</strong> <a href="http://www.livescience.com/40895-gmo-facts.html">http://www.livescience.com/40895-gmo-facts.html</a></p>
</topic>
